.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 108px;
}

.loader .spinner {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 10px solid #FFFFFF00;
    border-top: 10px solid #512DE4;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}