.tech {
    width: 50vw;
}

.developer {

}

.techHeader {
    width: 50vw;
}

.developerHeader {

}

.row {
    display: flex;
}

.rowHeader {
    padding: 10px 17px;
    display: flex;
    background: #E5E5E5;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}

.loading {
    background: yellow;
    /*position: relative;*/

}

/*.loading:after {*/
/*    content: '';*/
/*    !*background: #343434;*!*/
/*    opacity: 0.4;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    top: 0;*/
/*    position: absolute;*/
/*}*/

.loading .spinner {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 10px solid #FFFFFF00;
    border-top: 10px solid #512DE4;
    border-top: 10px solid red;
    animation: spin 1.5s linear infinite;
    opacity: 0.4;
    left: 50%;
    right: 0;
    bottom: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    /*transform: translateX(-200px);*/
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}