.tech {
    width: 50vw;
}

.developer {

}

.techHeader {
    width: 50vw;
    display: flex;
    align-items: center;
}

.developerHeader {
    display: flex;
    align-items: center;
}

.row {
    padding: 12px 17px;
    display: flex;
}

.rowHeader {
    padding: 10px 17px;
    display: flex;
    background: #E5E5E5;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}

.loading {


    position: relative;
}

.loading:after {
    content: '';
    background: #343434;
    opacity: 0.1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
}

.loading .spinner {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 10px solid #FFFFFF00;
    border-top: 10px solid #512DE4;
    animation: spin 1.5s linear infinite;
    left: calc(50% - 45px);
    right: 0;
    bottom: 0;
    top: calc(50% - 45px);
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}