.buttonsContainer {
    display: flex;
    gap: 21px;
}

.buttonsContainer button:disabled {
    color: white;
    border-radius: 3px;
    opacity: 0.4;
    background: #06C;
}

.clock {
}

.watch {
    margin-bottom: 8px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.watch strong {
    font-weight: 600;
}


.more {
    margin-bottom: 27px;
    color: rgba(0, 0, 0, 0.50);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}