.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
    gap: 12px;
    margin-bottom: 10px;
}

.error {
}

.inputClass {
    width: 372px;
    height: 36px;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
}

.inputClass:focus {
}

.errorInput {
}

.button {
    height: 36px;
    padding: 5px 24px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-transform: capitalize;
    display: inline-flex;
    border-radius: 3px;
    background: #06C;
    border: none;
    cursor: pointer;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    /*cursor: unset;*/
}

.text {
    margin-bottom: 9px;
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.greeting {
}
