.sendForm {
    width: 100%;
    display: flex;
    gap: 44px;
    align-items: center;
    justify-content: space-between;
}

.textarea {
    width: 100%;
    padding: 12px 24px;
    border-radius: 20px;
    background: #F5F7FB;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.10), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    resize: none;
    border: none;
    outline: 1px solid #F5F7FB;
    overflow-wrap: break-word;
}

.button {
    padding: 10px;
    min-width: 120px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 20px;
    background-color: #06C;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    transition: background-color 0.5s;
    outline: none;

}

.button:hover {
    background-color: rgba(55, 145, 236, 1);
}


.button:focus-visible {
    background-color: rgba(55, 145, 236, 1);

}
