.burgerMenuIcon {
    cursor: pointer;
}

.header {
    padding: 16px 70px;
    margin-bottom: 47px;
    display: flex;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0 0 2px 0 rgba(29, 33, 38, 0.10), 0 0 40px 0 rgba(29, 33, 38, 0.13);
}

.header h1 {
}