.pagination {
    display: flex;
    margin-bottom: 36px;
    flex-wrap: wrap;
    align-items: center;
}

.pagination li button {
    color: #0D0B0C;
}

.pagination li button:hover {
    border-radius: 2px;
}

.pagination li button[aria-current] {
    background: #0066CC;
    border-radius: 2px;
    color: #ffffff;
}

.pagination li button[aria-current]:hover {
    background: #0066CC;

}

select {
    height: 24px;
    margin-left: 10px;
    margin-right: 6px;
    border: 2px solid #ECEBEB;
    border-radius: 2px;
    color: #0D0B0C;
    font-size: 14px;
}

.text1 {
    color: #0D0B0C;
    font-size: 14px;
}

.text2 {
    color: #0D0B0C;
    font-size: 14px;


}
